.scoreText {
  text-align: center;
  color: silver;
  font-size: 55px;
  text-shadow: 3px 2px black;
}
.finalText {
  text-align: center;
  color: silver;
  font-size: 55px;
  text-shadow: 3px 2px black;
}
.score{
  background-image: linear-gradient(to right, #4073bf, #3165b8, #2258b1, #124aa9, #003ca1);
}