.top{
  background-color: white;
}
.Teams{
  list-style: none;
}
.East{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: gold;
  text-shadow: 3px 2px black;
}
.West{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: blueviolet;
  text-shadow: 3px 2px black;
}

.playerButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top{
  background-color: black;
}

.teamButton {
  background-color: transparent;
  border: none;
  // margin-right: .25px;
}

.eastTeamNames {
  color: gold;
  font-size: 19px;
  text-shadow: 3px 2px black;
}

.westTeamNames {
  color: blueviolet;
  font-size: 19px;
  text-shadow: 3px 2px black;
}

.skills {
  color: greenyellow;
  font-size: 19px;
  text-shadow: 3px 2px black;
  text-align: center;
}

.playerImage {
  height: 50px;
  width: 50px;
}

.progress-bar{
  background-color: greenyellow !important;
}
.progress{
  background-color: black;
}
.starterCard {
  background: white;
}