.myTeam{
  // background-color: white;
  font-size: 70px;
  color: greenyellow;
}
.teamCard {
  border: 20px solid rgb(24, 133, 122);
  border-style: groove;
  background: transparent;
}
.teamCardButton {
  background: transparent;
  color: greenyellow;
  font-size: 70px;
  text-shadow: 3px 2px black;
  text-align: center;
}
.rosterItem {
  border: 20px solid rgb(24, 133, 122);
  border-style: groove;
  background-color: transparent;
  margin: 5px;
}
.rosterItemBody {
  background-color: transparent;

}
.rosterItemName{
  color: greenyellow;
  font-size: 19px;
  text-shadow: 3px 2px black;
  text-align: center;
}
.playerImage {
  height: 25px;
  width: 25px;
  margin: 20  px;
}